<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List Your Property</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List Your Property</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="box">
    <h1>listing info</h1> <!-- list house  -->


    <input type="text" placeholder="Property title" #title />
    <input type="file" accept="image/*" #pictureInput />
    <input type="text" placeholder="Price" #price />
    <input type="text" placeholder="Number of bedrooms and bathrooms" #bnb />
    <input type="text" placeholder="Description" #description />
    <p *ngIf="error !== ''">{{error}}</p>
    <ion-button expand="block"
      (click)="submitListing(title.value, pictureInput.files[0], price.value, bnb.value, description.value)">submit
      listing</ion-button>
    <div style="margin-top:12px"></div>
  </div>
</ion-content>