<ion-header>
  <ion-toolbar>
    <ion-title>Property For Sale</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/add-prop" fill="clear">Add</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" fill="clear">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> <!-- header includes login page fink  -->
      <ion-title size="large">Property for sale</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/login" fill="clear">Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="listings"><!--  div for listings gets data from propdata and using the template from property card  -->
    <property-card-component *ngFor="let i of data" [listings]="i"></property-card-component>
  </div>


</ion-content>