<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" fill="clear">Back</ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="register-box">
    <h2>Create account</h2> <!--email and password for registration  -->
    <input type="text" placeholder="Email" #email />
    <input type="password" placeholder="Password" #pass />
    <p *ngIf="error !== ''">{{error}}</p>
    <ion-button expand="block" (click)="register(email.value, pass.value)">Register</ion-button>
  </div>
</ion-content>
